# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PROJEKT 2020\L5_TAI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
